.eworld {
    background: $shade1;

    //general stuff
    //remove outlines
    button, input {
        &:focus, &:active:focus {
            outline: none !important;

            + label:before {
                outline: none !important;
            }
        }
    }

    .p-0 {
        padding: 0 !important;
    }

    .form-control:focus {
        border-color: $primary;
        box-shadow: unset;
    }

    //typo
    h1, h2, h3, .h1, .h2, .h3 {
        font-family: $font-officina-sans;
        font-size: 28px;
        text-transform: uppercase;
    }

    .h4, .question-count-text {
        text-align: center;
    }

    .ls-label-question {
        font-size: 16px;
        font-weight: bold;
    }

    .survey-welcome {
        max-width: 800px;
        margin: 0 auto spacing(5);
    }

    .text-primary {
        color: $primary;
    }

    .logo-container {
        display: flex;
        align-items: center;

        img {
            max-width: 262px;
        }
    }

    .slider-handle {
        background-color: $primary;
    }

    .form-control:focus {
        border-color: $primary;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 0 8px rgba(233, 155, 102, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 0 8px rgba(233, 155, 102, .6);
    }


    .ls-label-question, h4, .h4 {
        font-size: 16px;
        font-weight: bold;
    }

    //buttons
    .btn-primary, .btn-default {
        min-width: 80px;
        background: none;
        border: 1px solid $text-color-dark;
        color: $text-color-dark;
        border-radius: 0;
        font-size: 14px;
        padding: spacing(3) spacing(4);
        text-transform: uppercase;
        transition: all ease .3s;

        &:active:focus {
            background: none;
            border: 1px solid $text-color-dark;
            color: $text-color-dark;
        }

        &:hover {
            background: $text-color-dark;
            color: $text-color-light;
        }
    }

    .btn-primary {
        color: $primary;
        border-color: $primary;
        &:active:focus {
            background: none;
            border-color: $primary;
            color: $primary;
        }

        &:hover {
            background: $primary;
            color: $text-color-light;
        }
    }

    .radio-item {
        label {
            &::after {
                background: $primary;
            }
        }
    }

    //other
    #firstpage-changelang .form-change-lang {
        display: none;
    }

    .group-description {
        background: unset;
        border: unset;
        box-shadow: unset;
    }

    .question-container {
        background: $shade0;
        padding: spacing(5);
    }

    .text-info, .text-primary {
        color: $primary;
    }

    .survey-description {
        color: $text-color-dark;
    }

    .progress {
        margin-top: spacing(7);
        background: $shade0;

        .progress-bar {
            background: $primary;
        }
    }

    .language_change_container {
        height: auto;
        overflow: unset !important;
    }
}



