@font-face {
    font-family: 'Officina Sans ITC';
    font-style: normal;
    src: url("../fonts/itc_officina_book-webfont.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/itc_officina_book-webfont.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/itc_officina_book-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url("../fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url("../fonts/Roboto-Bold-webfont.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url("../fonts/Roboto-Medium-webfont.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url("../fonts/Roboto-MediumItalic-webfont.woff") format("woff"),
    url("../fonts/Roboto-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Officina Sans ITC';
    font-style: normal;
    src: url("../fonts/itc_officina_book-webfont.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/itc_officina_book-webfont.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/itc_officina_book-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
}