.eworld {
    .navbar {
        box-shadow: $shadow1;
        background: $shade0;

        .navbar-header {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .navbar-toggle {
            margin-top: spacing(7);
            margin-bottom: spacing(7);
            border: none;
        }
    }
}

@media(min-width: 768px) {
    .eworld {
        .navbar {
            box-shadow: $shadow1;
            background: $shade0;


            >.container {
                display: flex;
                align-items: center;
            }

            #navbar {
                flex: auto;
            }


            .navbar-right {
                margin-top: spacing(5);
            }
        }
    }
}