$primary: rgba(214, 76, 19, 100);
$shadow1: 0 0 8px 0 rgba(0, 0, 0, 0.12);

$shade0: #FFFFFF;
$shade1: #F9F9F9;
$shade2: #EEEEEE;
$shade3: #E2E2E2;
$shade4: #E9E9E9;
$shade5: #333333;

$text-color-light: $shade0;
$text-color-dark: $shade5;

$font-roboto: 'Roboto';
$font-officina-sans: 'Officina Sans ITC', sans-serif;

//return value [number] to ensure consistent spacing (material design baseline grid)
@function spacing($value) {
    @if $value == null {
        @error "No spacing value given.";
    }

    @return $value * 4px;
}